{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'studio/css/studio.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center">Studio Game Sandbox</h2>
    <p class="text-center text-muted">Development Mode: Konva Layer Active</p>

    <div id="konva-holder"></div>
</div>

<script src="https://unpkg.com/konva@9/konva.min.js"></script>

<script src="{% static 'studio/js/studio_engine.js' %}"></script>
{% endblock %}